<mat-toolbar class="header mat-elevation-z3">
    <div class="centralizar">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span class="marginLeftMin">USUÁRIOS</span>
        <span class="example-spacer"></span>
    </div>
    <div class="externoPesquisa">
        <a class="iconeSearch" href="/">
            <mat-icon class="search">search</mat-icon>
        </a>
        <input class="internoPesquisa" placeholder="Pesquisar..." type="text">
    </div>
</mat-toolbar>
<div class="titulo"><span>Usuários cadastrados</span></div>